includes:
    - vendor/brandembassy/coding-standard/default-phpstan.neon

parameters:
    ignoreErrors:
        -
            message: '#PHPDoc tag \@var for property Tests\\BE\\QueueManagement\\Queue\\RabbitMQ\\RabbitMQWorkerTest\:\:\$rabbitMQQueueManagerMock contains unresolvable type.#'
            path: 'tests\Queue\RabbitMQ\RabbitMQWorkerTest.php'
